mixin sForm()
	// start sForm
	+b.SECTION.sForm.section#sForm&attributes(attributes)
		.container
			+e.wrap
				h2 Есть идея по&nbsp;развитию российского&nbsp;ИИ
				+form-wrap
					+input('Введите', 'text', 'Имя')
					+input('Введите', 'text', 'Имя')
	// end sForm