
mixin modal() 
	//  start modals
	//- a(href="modal-call").link-modal-js modal-call 
	div(id="modal-call"  style="display: none" )
		+b.modal-win
			+e.title.h1 Льготные кредиты для инновационных компаний под&nbsp;3%
			span Меры поддержки
			h5 В чем суть меры?
			p Малые и&nbsp;средние предприятия, выпускающие высокотехнологичную и&nbsp;инновационную продукцию смогут получить кредиты по&nbsp;льготной процентной ставке не&nbsp;превышающей 3%. Разницу между рыночной и&nbsp;льготной ставками кредитору возместит государство. Кредиты будут предоставляться на&nbsp;инвестиционные цели и&nbsp;пополнение оборотных средств. Максимальный размер кредита&nbsp;&mdash; 400 млн рублей, максимальный срок кредита&nbsp;&mdash; 3&nbsp;года.<br>Финансовый инструмент запущен в&nbsp;рамках федерального проекта &laquo;Взлёт от&nbsp;стартапа до&nbsp;IPO&raquo;. Оператором программы является &laquo;МСП Банк&raquo;. В&nbsp;федеральном бюджете на&nbsp;эту меру поддержки предусмотрено в&nbsp;2022 году&nbsp;&mdash; 750 млн рублей, в&nbsp;2023 году&nbsp;&mdash; 1,4 млрд рублей, в&nbsp;2024-м&nbsp;&mdash; 1,8 млрд рублей.
			a(href="#") Подробнее
	// #modal-call
	
	// end modals