mixin sNumberCompanies(data)
	// start sNumberCompanies
	+b.SECTION.sNumberCompanies.section#sNumberCompanies&attributes(attributes)
		.container
			+e.wrap
				+img('mainMap.png', 'bg')
				+e.numbers 
					span 21
					span 40
					span 150
					span 40
					span 88
					span 30
					span 22
					span 40
				p Количество компаний работающих с&nbsp;ИИ по&nbsp;округам&nbsp;РФ
			+e.banner.bg-wrap
				+img('banner-bg.png', 'bg').picture-bg
				p Искусственный интеллект&nbsp;&mdash; главная технология XXI века
	// end sNumberCompanies