mixin topLine()
	// start topLine
	+b.topLine.section#topLine&attributes(attributes)
		.container
			+e.row.row
				+e.col-logo.col-sm-6.col-lg-auto
					a(href="#") 
						+img('logo.png')
				.col-sm-6.col-lg
					+b.support
						span Меры поддержки
						+e.wrap
							a(href="#") Меры поддержки малых и&nbsp;средних предприятий
							a(href="#") Меры поддержки разработчиков
							a(href="#") Меры по&nbsp;внедрению ИИ-технологий
							a(href="#") Образовательные меры поддержки
				.col-lg-auto
					+governmentList()
					//- +b.UL.government
					//- 	li 
					//- 		+img('top-nav-1.png')
					//- 	li 
					//- 		+img('top-nav-2.png')
					//- 	li 
					//- 		+img('top-nav-3.png')
					//- 	li 
					//- 		+img('top-nav-4.png')
				+e.col.col-auto
					+e.soc-wrap
						a(href="#")
							+img('vk-logo.png')
						a(href="#")
							+img('ok-logo.png')
	// end topLine