mixin sFAQ(data)
	// start sFAQ
	+b.SECTION.sFAQ.section#sFAQ&attributes(attributes)
		.container
			+b.faq-head
				//- a(href="#")
				//- 	+icon('arrow-left')
				//- h1 Меры поддержки малых и&nbsp;средних предприятий
				span Малые и средние предприятия
			+b.accordion
				+ddGroup()
					+ddGroupItem('1. В чем суть меры?', 'active')
						p Малые и средние предприятия, выпускающие высокотехнологичную и инновационную продукцию смогут получить кредиты по льготной процентной ставке не превышающей 3%. Разницу между рыночной и льготной ставками кредитору возместит государство. Кредиты будут предоставляться на инвестиционные цели и пополнение оборотных средств. Максимальный размер кредита - 400 млн рублей, максимальный срок кредита - 3 года.
						p Финансовый инструмент запущен в рамках федерального проекта «Взлёт от стартапа до IPO». Оператором программы является «МСП Банк». В федеральном бюджете на эту меру поддержки предусмотрено в 2022 году – 750 млн рублей, в 2023 году – 1,4 млрд рублей, в 2024-м – 1,8 млрд рублей.
						a(href="#") Подробнее
					+ddGroupItem('2. Кто мог получить?', 'active')
						p Исследовательский центр реализует проект &quot;Искусственный интеллект для оптимизации управленческих решений в&nbsp;целях снижения углеродного следа&laquo;.
						p Проект ставит своей целью создание программного обеспечения на&nbsp;базе технологий сильного&nbsp;ИИ для воспроизведения творческих профессиональных функций отраслевого специалиста для разработки решений, обеспечивающих процессы цифровой трансформации и&nbsp;интеллектуализации промышленных производств​.
						p Потенциальными потребителями решений являются промышленные организации реального сектора экономики.
						p Ключевым партнером по&nbsp;внедрению является ПАО &laquo;Газпром нефть&raquo;, поэтому одной из&nbsp;ключевых задач Центра является интегрированное​ планирование разработки и&nbsp;обустройства нефтегазовых месторождений.
						+e.frame
							<iframe src="https://www.youtube.com/embed/L_LUpnjgPso" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					+ddGroupItem('3. Кто мог получить?', 'active')
						p Исследовательский центр реализует проект &laquo;Искусственный интеллект для оптимизации управленческих решений в&nbsp;целях снижения углеродного следа&raquo;.
						+e.wrap
							+img('sFAQ-img-1.jpg')
							+img('sFAQ-img-2.jpg')
							+img('sFAQ-img-3.jpg')
							+img('sFAQ-img-4.jpg')
					+ddGroupItem('4. Какие условия для получения гранта?', 'active')
						p Исследовательский центр реализует проект &laquo;Искусственный интеллект для оптимизации управленческих решений в&nbsp;целях снижения углеродного следа&raquo;.
					+ddGroupItem('5. Какие условия?', 'active')
						p Исследовательский центр реализует проект &laquo;Искусственный интеллект для оптимизации управленческих решений в&nbsp;целях снижения углеродного следа&raquo;.
			+b.faq-footer
				h3 Прочие меры поддержки малых и&nbsp;средних предприятий
				+e.slider--js.swiper
					.swiper-wrapper
						- for(i=0; i<3; i++)
							+faq-slide()
							//- +e.slide.swiper-slide
							//- 	span Малые и средние предприятия
							//- 	h5 Заголовок для меры поддержки
							//- 	+img('support-img-1.png')
							//- 	a(href="#") Подробнее
					+arrow()
					.swiper-pagination
	// end sFAQ